h1 {
  font-size: 36px;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.model-ab .v--modal {
  height: 100vh !important;
}

nav {
  margin-bottom: 0px;
  padding: 0px 10px;
}

nav.navbar.menu-border {
  border-bottom: 1px solid #e6e6e6;
}

nav.navbar li {
  display: inline-block;
  margin-bottom: -1px;
}

nav.navbar li a {
  padding: 15px;
}

nav.navbar li a:hover {
  background: #4A4A4A;
  color: #fff;
}

nav.navbar li.is-active a {
  background: #4A4A4A;
  color: #fff;
}

section.hero {
  background: #00D1B2 !important;
  margin-bottom: 40px;
}

.margin-bottom {
  margin-bottom: 40px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.testimonials {
  background: #F3F5F6;
  position: relative;
}

.testimonials .left {
  width: 70%;
  min-height: 400px;
  padding: 0px 52px;
  display: table;
  height: 100%;
}

.testimonials .left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.testimonials .left ul li {
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 15px;
}

.testimonials .left ul li.active img {
  border-color: #00D1B2;
  border-style: solid;
}

.testimonials .left ul li img {
  transition: 0.2s;
  border-radius: 50%;
  width: 62px;
  border: 2px;
  border-style: unset;
}

.testimonials .left ul li img:hover {
  border-color: #00D1B2;
  border-style: solid;
}

.testimonials .right {
  background: #EBF1F3;
  position: absolute;
  top: 0;
  width: 30%;
  display: table;
  height: 100%;
  left: 70%;
  padding: 0px 15px;
}

.testimonials .right .review-user-infos {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.testimonials .right img {
  border-radius: 50%;
  width: 70px;
}

.testimonials .right h5 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.testimonials .right button {
  margin-top: 20px;
}

.megaMenuOneToOne {
  background: #333333;
  color: #fff;
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 10;
  padding: 20px 0px;
}

.megaMenuOneToOne ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.megaMenuOneToOne .left ul li {
  color: #fff;
  font-size: 18px;
  padding: 5px 0px;
  transition: 0.4s;
  text-transform: uppercase;
}

.megaMenuOneToOne .left ul li.active {
  color: #00D1B2;
}

.megaMenuOneToOne .left ul li:hover {
  color: #00D1B2;
}

.megaMenuOneToOne .right ul li {
  display: inline-block;
  width: 45%;
  padding: 2px 0px;
}

.megaMenuOneToOne .right ul li a {
  font-size: 13px;
  color: #fff;
  transition: 0.4s;
}

.megaMenuOneToOne .right ul li:hover a {
  color: #00D1B2;
}

